<div id="aa-reassurance" class="aa-reassurance-2 my-5">
    <div class="container">
        <div class="row">
            {% for reassurance in reassurances %}
                <div class="reassurance col-lg-6 mt-3 mt-lg-0">
                    {% if reassurance.image %}
                        <img class="reassurance__image" src="{{ asset('uploads/reassurances/' ~ reassurance.image) }}"
                             width="{% if configuration and configuration.iconSize %}{{ configuration.iconSize }}{% else %}120{% endif %}"
                             alt="{{ reassurance.title }}"/>
                    {% endif %}
                    <div class="reassurance__content">
                        <p class="reassurance__title mb-3">{{ reassurance.title }}</p>
                        <p class="reassurance__text mb-0">{{ reassurance.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aliquam amet atque aut cupiditate deserunt harum, in itaque iusto labore, minus nobis porro quas quia ratione rerum soluta. Culpa?