<div id="aa-reassurance" class="my-5" style="
{% if configuration and configuration.backgroundColor %}background-color:{{ configuration.backgroundColor }};{% endif %}
        {% if configuration and configuration.textColor %}color:{{ configuration.textColor }};{% endif %}
        ">
    <div class="container">
        <div class="row justify-content-center">
            {% for reassurance in reassurances %}
                <div class="col-md-6 col-lg-3 mt-3 mt-lg-0">
                    {% if reassurance.image %}
                        <img class="mb-4" src="{{ asset('uploads/reassurances/' ~ reassurance.image) }}" width="115" alt="{{ reassurance.title }}"/>
                    {% endif %}
                    <p class="reassurance__title mb-3">{{ reassurance.title }}</p>
                    <p class="reassurance__text mb-0">{{ reassurance.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
